* , *::before , *::after{
    margin: 0;
    padding: 0;
}
/* nav */
nav{
    display: flex;
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.548) ;
    padding-bottom: 18px;
    margin: 20px 0 0 0;
}
.nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 50px;
    margin-right: 380px;
}
.nav ul li {
    width: 100px;
    height: 20px;
    margin-right: 0px;
    font-size: 18px;
    text-align: center;
}
.nav ul :nth-child(1){
    line-height: 18px;
    font-weight: 600;
    font-size: 20px
}
.nav ul li:hover , .navhelper span:hover{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.753);
}
.navhelper{
    display: flex;
}
.navhelper span{
    margin-right: 20px;
    width: 5px;
    height: 20px;
}
.navhelper span:nth-child(2){
    font-size: 18px;
    width: 110px;
    height: 20px;
    text-align: center;
    line-height: 14px;
}
.navhelper span i:hover {
    color: rgb(85, 85, 85);
}
/* header */
header{
    user-select: none;
}
header .head-top {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
header .head-top:nth-child(1){
    font-size: 30px;
    transform:translateX(-240px) ;
    font-weight: 800;
}
header .head-top input{
    font-size: 16px;
    border-radius: 10px;
    transform:translateX(480px) ;
    height: 30px;
    width: 200px;
    background-image: url("mag.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: 4px;
    background-position-x: 10px;
    padding-left: 50px;
    border: 1px solid rgba(0, 0, 0, 0.548);
}
header .head-bottom{
    display: flex;
    margin: 60px 0 0 0px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.548);
}
header .head-bottom span{
    text-align: center;
    width: 100px;
    height: 20px;
    line-height: 18px;
    margin:0 0px 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.548);
    padding-bottom: 10px;
}
header .head-bottom span:nth-child(1){
    white-space: nowrap;
}
header .head-bottom span:hover{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.548);
    border-bottom: 1px solid rgb(26, 209, 241);
}
/* article */
article .section {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.548);
    user-select: none;
}
article .section #span1 {
    margin-left: 25px;
    margin-right: 610px;
}
article .section #span1 #pr1 {
    font-size: 22px;
    font-weight: 800;
    margin-top: 50px;
}
article .section #span1 #pr2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
}
article .section #span2{
    text-align: center;
    margin-top: 55px;
    margin-left: -2px;
    width: 200px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.548);
    border-radius: 10px;
}
article .section #span2 a {
    line-height: 38px;
    white-space: nowrap;
    margin-left: 10px;
    text-decoration: none;
}
article .section #span2 img {
    transform: translateX(-10px) translateY(8px);
}