*{
    box-sizing: border-box;
}
/* body{
    background-color: aqua;
} */
/* h1 , h2{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.container{
    width: 100%;
    margin: auto;
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
    transition: all 0.4s ease;
}
@media only screen and (min-width : 768px) {
    body{
        background-color: blue;
    }
    img{
        max-width: 40%;
        background-position: center;
    }
} */
/* .bordered {
    border-top: dotted 1px black;
    border-bottom: solid 2px black;
    padding: 40px;
} */
#menu a {
    color: #111;
    .bordered();
}
.post a {
    color: red;
    .bordered();
}
