h1 {
  color: #FF7F50;
}
h3 {
  color: #222 / 2;
}
.bordered {
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
#menu a {
  color: #111;
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
.post a {
  color: red;
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
#header {
  color: black;
}
#header .navigation {
  font-size: 12px;
}
#header .logo {
  width: 300px;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.component {
  width: 300px;
}
@media (min-width: 768px) {
  .component {
    width: 600px;
  }
}
@media (min-width: 768px) and (min-resolution: 192dpi) {
  .component {
    background-image: url(/img/retina2x.png);
  }
}
@media (min-width: 1280px) {
  .component {
    width: 800px;
  }
}
.class {
  width: calc(50% + (red - 20px));
  background-color: #223355;
  background-color: #101010;
}
@media (min-width: 768px) {
  .element {
    font-size: 1.2rem;
  }
}
.class {
  width: 50%;
  color: #f6430f;
  background-color: #f8b38d;
}
#header a {
  color: orange;
  display: block;
  border: 1px solid black;
  background-color: grey;
}
#header a:hover {
  background-color: white;
}
.button {
  color: blue;
  border: 1px solid green;
}
#page #header {
  color: white;
}
#page #header {
  color: white;
}
