.heart{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 50px;
    transform: rotate(45deg);
    position: relative;
    left: 750px;
    top: 200px;
    
}
.heart::before,
.heart::after{
    content: "";
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
}
.heart::before{
    top:-50px;
    background-color: red;
}
.heart::after{
    left: -50px;
    background-color: red;
}
.heart,
.heart::after,
.heart::before{
    animation-name: heart;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: both;
}
@keyframes heart{
    0%{width: 100px; height: 100px; background-color: red;
    box-shadow: 0px 0px 4px red}

    20%{width: 103; height: 103; background-color: rgb(224, 0, 0);
    box-shadow: 0px 0px 4px rgb(224, 0, 0);}

    40%{width: 107px; height: 107px;background-color: rgb(214, 0, 0);
    box-shadow: 0px 0px 4px rgb(214, 0, 0)}

    60%{width: 111px; height: 111px; background-color: rgb(200, 0, 0);
    box-shadow: 0px 0px 4px rgb(200, 0, 0)}

    80%{width: 115px; height: 115px; background-color: rgb(116, 0, 0);
    box-shadow: 0px 0px 4px rgb(116, 0, 0)}

    100%{width: 120px; height: 120px; background-color: rgb(106, 0, 0);
    box-shadow: 0px 0px 4px rgb(106, 0, 0)}
}