.container{
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(41, 221, 131);
    width: 300px;
    height: 100px;
    background-color: rgb(134, 123, 123);
    border-radius: 15px;
    position: relative;
}
.container::after{
    background-color: rgb(134, 123, 123);
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    top: 90%;
    left: auto;
    transform: rotate(45deg);
}
.container:hover{
    background-color: rgb(80, 80, 80);
    transition:all 0.5s linear;
}
/* .container::after:hover{
    background-color: rgb(80, 80, 80);
} */
/* body:hover{
    background-color: rgb(80, 80, 80);
} */
/* .container .container::after:hover{
    background-color: red;
} */
.container:hover::after{
    background-color: rgb(80, 80, 80);
    transition:all 0.5s linear;
}